body {

	margin: 0;	padding: 0;

}

canvas {

	display: block;

	margin: 0 auto;

	background-color: #eee;

}

#game-over,

#congratulations {

	display: none;

	position: absolute;

	top: 50%;

	left: 50%;

	transform: translate(-50%, -50%);

	text-align: center;

}

#game-over h1,

#congratulations h1 {

	margin-top: 0;

}

#game-over button,

#congratulations button {

	margin-top: 20px;

	padding: 10px 20px;

	border: none;

	background-color: #0095DD;

	color: #fff;

	font-size: 16px;

	cursor: pointer;

}
